<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friendData">
    <select id="getFriendList">
        SELECT
            *
        From
            friend
        WHERE
            requester = #{requester}
        OR
            accepter = #{requester}
    </select>
    <select id="getUserInformation">
        SELECT
            *
        From
            user
        WHERE
            id = #{userIdx}
    </select>
    <select id="getUserIdx">
        SELECT
            id
        From
            user
        WHERE
            email = #{userEmail}
    </select>
    <select id="login">
        SELECT
            is_deleted
        From
            user
        WHERE
            email = #{userEmail}
    </select>
    <select id="getUserEmail">
        SELECT
            email
        From
            user
        WHERE
            id = #{userId}
    </select>
    <select id="checkFriendRequest">
        SELECT
            *
        From
            friend
        WHERE
            (requester= #{accepter}
        AND
            accepter = #{requester})
        OR
            (requester = #{requester}
        AND
            accepter = #{accepter})
    </select>
    <select id="checkBlock">
        SELECT
            *
        From
            block
        WHERE
            requester= #{requester}
        AND
            blocked_user = #{blockedUser}
    </select>
    <select id="getBlockList">
        SELECT
            *
        From
            block
        WHERE
            requester = #{userId}
    </select>
    <insert id="addUserData">
        INSERT INTO
            user(email,name,age,gender,phone_number)
        VALUES
            (#{userEmail},#{userName},#{userAge},#{userGender},#{userPhoneNumber})
    </insert>
    <delete id="deleteFriend">
        DELETE FROM
            friend
        WHERE
            (requester = #{requester}
        AND
            accepter = #{accepter})
        OR
            (accepter = #{requester}
        AND
            requester = #{accepter})
    </delete>
    <delete id="deleteBlock">
        DELETE FROM
            block
        WHERE
            requester = #{requester}
        AND
            blocked_user = #{blockedUser}
    </delete>
    <update id="acceptFriend">
        UPDATE
            friend
        SET
            status = 1
        WHERE
            requester = #{accepter}
        AND
            accepter = #{requester}
    </update>
    <insert id="blockFriend">
        INSERT INTO
            block(requester,blocked_user)
        VALUES
            (#{requester},#{blockedUser})
    </insert>
    <insert id="requestFriend">
        INSERT INTO
            friend(requester,accepter,status)
        VALUES
            (#{requester},#{accepter},0)
    </insert>
    <delete id="deleteUser">
        UPDATE
            user
        SET
            is_deleted = 1,
            deleted_at = CURRENT_TIMESTAMP
        WHERE
            email = #{userEmail}
    </delete>
</mapper>