<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friendData">
    <select id="getFriendList">
        SELECT
            *
        From
            friend
        WHERE
            accepter = #{userIdx}
        OR
            accepter = #{userIdx}
    </select>
    <select id="getUserInformation">
        SELECT
            *
        From
            user
        WHERE
            id = #{userIdx}
    </select>
    <select id="getUserIdx">
        SELECT
            id
        From
            user
        WHERE
            email = #{userEmail}
    </select>
    <select id="login">
        SELECT
            is_deleted
        From
            user
        WHERE
            email = #{userEmail}
    </select>
    <select id="getUserEmail">
        SELECT
            email
        From
            user
        WHERE
            id = #{userIdx}
    </select>
    <select id="checkFriendRequest">
        SELECT
            *
        From
            friend
        WHERE
            (responser = #{requesterIdx}
        AND
            accepter = #{responserIdx})
        OR
            (responser = #{responserIdx}
        AND
            accepter = #{requesterIdx})
    </select>
    <select id="checkFriendRequest">
        SELECT
            *
        From
            block
        WHERE
            responser = #{requesterIdx}
        AND
            blocked_user = #{responserIdx}
    </select>
    <select id="getBlockList">
        SELECT
            *
        From
            block
        WHERE
            blocked_user = #{userIdx}
    </select>
    <insert id="addUserData">
        INSERT INTO
            user(email,name,age,gender,phone_number)
        VALUES
            (#{userEmail},#{userName},#{userAge},#{userGender},#{userPhoneNumber})
    </insert>
    <delete id="deleteFriend">
        DELETE FROM
            friend
        WHERE
            accepter = #{requesterIdx}
        AND
            responser = #{responserIdx}
    </delete>
    <delete id="deleteBlock">
        DELETE FROM
            block
        WHERE
            accepter = #{requesterIdx}
        AND
            responser = #{responserIdx}
    </delete>
    <update id="acceptFriend">
        UPDATE
            friend
        SET
            status = 1
        WHERE
            accepter = #{requesterIdx}
        AND
            responser = #{responserIdx}
    </update>
    <insert id="blockFriend">
        INSERT INTO
            block(accepter,responser)
        VALUES
            (#{requesterIdx},#{responserIdx})
    </insert>
    <insert id="requestFriend">
        INSERT INTO
            friend(accepter,responser,status)
        VALUES
            (#{requesterIdx},#{responserIdx},0)
    </insert>
    <delete id="deleteUser">
        UPDATE
            user
        SET
            is_deleted = 1,
            deleted_at = CURRENT_TIMESTAMP
        WHERE
            email = #{userEmail}
    </delete>
</mapper>